{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

<h2>Burns Depression Test</h2>
<p>
    Perhaps you are wondering if you have in fact been suffering from depression. Let's go ahead and see where you
    stand. The Burns Depression Test is a reliable mood-measuring device that
    detects the presence of depression and accurately rates its severity.
</p>
<br>
<h4>
    Instructions: Put a check (✔) to indicate how much you have experienced each symptom during the past week, including
    today.
</h4>


{{ wtf.quick_form(form) }}

{% endblock content %}