{% extends "layout.html" %}
{% block content %}

<h1>Definitions of Cognitive Distortions</h1>
<p>
    1.​All-or-Nothing Thinking. This refers to your tendency to evaluate your personal
    qualities in extreme, black-or-white categories. For example, a prominent politician told me, "Because I lost the
    race
    for governor, I'm a zero." A straight-A student who received a B on an exam concluded, "Now I'm a total failure."
    All-or-nothing thinking forms the basis for perfectionism. It causes you to fear any mistake or imperfection because
    you
    will then see yourself as a complete loser, and you will feel inadequate and worthless. This way of evaluating
    things is
    unrealistic because life is rarely completely either one way or the other. For example, no one is absolutely
    brilliant
    or totally stupid. Similarly, no one is either completely attractive or totally ugly. Look at the floor of the room
    you
    are sitting in now. Is it perfectly clean? Is every inch piled high with dust and dirt? Or is it partially clean?
    Absolutes do not exist in this universe. If you try to force your experiences into absolute categories, you will be
    constantly depressed because your perceptions will not conform to reality. You will set yourself up for discrediting
    yourself endlessly because whatever you do will never measure up to your exaggerated expectations. The technical
    name
    for this type of perceptual error is "dichotomous thinking." You see everything as black or white—shades of gray do
    not
    exist.

</p>
<p>
    2.​Overgeneralization. When I was eleven years old, I bought a deck of trick cards at the Arizona State Fair
    called the Svengali Deck. You may have seen this simple but impressive illusion yourself: I show the deck to
    you—every
    card is different. You choose a card at random. Let's assume you pick the Jack of Spades. Without telling me what
    card
    it is, you replace it in the deck. Now I exclaim, "Svengali!" As I turn the deck over, every card has turned into
    the
    Jack of Spades. When you overgeneralize, this is performing the mental equivalent of Svengali. You arbitrarily
    conclude
    that one thing that happened to you once will occur over and over again, will multiply like the Jack of Spades.
    Since
    what happened is invariably unpleasant, you feel upset. A depressed salesman noticed bird dung on his car window and
    thought, "That's just my luck. The birds are always crapping on my window!" This is a perfect example of
    overgeneralization. When I asked him about this experience, he admitted that in twenty years of traveling, he could
    not
    remember another time when he found bird dung on his car window. The pain of rejection is generated almost entirely
    from
    overgeneralization. In its absence, a personal affront is temporarily disappointing but cannot be seriously
    disturbing.
    A shy young man mustered up his courage to ask a girl for a date. When she politely declined because of a previous
    engagement, he said to himself, "I'm never going to get a date. No girl would ever want a date with me. I'll be
    lonely
    and miserable all my life." In his distorted cognitions, he concluded that because she turned him down once, she
    would
    always do so, and that since all women have 100 percent identical tastes, he would be endlessly and repeatedly
    rejected
    by any eligible woman on the face of the earth. Svengali!

</p>
<p>
    3.​Mental Filter. You pick out a negative detail in any
    situation and dwell on it exclusively, thus perceiving that the whole situation is negative. For example, a
    depressed
    college student heard some other students making fun of her best friend. She became furious because she was
    thinking,
    "That's what the human race is basically like—cruel and insensitive!" She was overlooking the fact that in the
    previous
    months few people, if any, had been cruel or insensitive to her! On another occasion when she completed her first
    midterm exam, she felt certain she had missed approximately seventeen questions out of a hundred. She thought
    exclusively about those seventeen questions and concluded she would flunk out of college. When she got the paper
    back
    there was a note attached that read, "You got 83 out of 100 correct. This was by far the highest grade of any
    student
    this year. A+ " When you are depressed, you wear a pair of eyeglasses with special lenses that filter out anything
    positive. All that you allow to enter your conscious mind is negative. Because you are not aware of this "filtering
    process," you conclude that everything is negative. The technical name for this process is "selective abstraction."
    It
    is a bad habit that can cause you to suffer much needless anguish.

</p>
<p>
    4.​Disqualifying the Positive. An even more
    spectacular mental illusion is the persistent tendency of some depressed individuals to transform neutral or even
    positive experiences into negative ones. You don't just ignore positive experiences, you cleverly and swiftly turn
    them
    into their nightmarish opposite. I call this "reverse alchemy." The medieval alchemists dreamed of finding some
    method
    for transmuting the baser metals into gold. If you have been depressed, you may have developed the talent for doing
    the
    exact opposite—you can instantly transform golden joy into emotional lead. Not intentionally, however—you're
    probably
    not even aware of what you're doing to yourself. An everyday example of this would be the way most of us have been
    conditioned to respond to compliments. When someone praises your appearance or your work, you might automatically
    tell
    yourself, "They're just being nice." With one swift blow you mentally disqualify their compliment. You do the same
    thing
    to them when you tell them, "Oh, it was nothing, really." If you constantly throw cold water on the good things that
    happen, no wonder life seems damp and chilly to you! Disqualifying the positive is one of the most destructive forms
    of
    cognitive distortion. You're like a scientist intent on finding evidence to support some pet hypothesis. The
    hypothesis
    that dominates your depressive thinking is usually some version of "I'm second-rate." Whenever you have a negative
    experience, you dwell on it and conclude, "That proves what I've known all along." In contrast, when you have a
    positive
    experience, you tell yourself, "That was a fluke. It doesn't count." The price you pay for this tendency is intense
    misery and an inability to appreciate the good things that happen. While this type of cognitive distortion is
    commonplace, it can also form the basis for some of the most extreme and intractable forms of depression. For
    example, a
    young woman hospitalized during a severe depressive episode told me, "No one could possibly care about me because
    I'm
    such an awful person. I'm a complete loner. Not one person on earth gives a damn about me." When she was discharged
    from
    the hospital, many patients and staff members expressed great fondness for her. Can you guess how she negated all
    this?
    "They don't count because they don't see me in the real world. A real person outside a hospital could never care
    about
    me." I then asked her how she reconciled this with the fact that she had numerous friends and family outside the
    hospital who did care about her. She replied, "They don't count because they don't know the real me. You see Dr.
    Burns,
    inside I'm absolutely rotten. I'm the worst person in the world. It would be impossible for anyone to really like me
    for
    even one moment!" By disqualifying positive experiences in this manner, she can maintain a negative belief which is
    clearly unrealistic and inconsistent with her everyday experiences. While your negative thinking is probably not as
    extreme as hers, there may be many times every day when you do inadvertently ignore genuinely positive things that
    have
    happened to you. This removes much of life's richness and makes things appear needlessly bleak.
</p>
<p>
    5.​Jumping to
    Conclusions. You arbitrarily jump to a negative conclusion that is not justified by the facts of the situation. Two
    examples of this are "mind reading" and "the fortune teller error." MIND READING: You make the assumption that other
    people are looking down on you, and you're so convinced about this that you don't even bother to check it out.
    Suppose
    you are giving an excellent lecture, and you notice that a man in the front row is nodding off. He was up most of
    the
    night on a wild fling, but you of course don't know this. You might have the thought, "This audience thinks I'm a
    bore."
    Suppose a friend passes you on the street and fails to say hello because he is so absorbed in his thoughts he
    doesn't
    notice you. You might erroneously conclude, "He is ignoring me so he must not like me anymore." Perhaps your spouse
    is
    unresponsive one evening because he or she was criticized at work and is too upset to want to talk about it. Your
    heart
    sinks because of the way you interpret the silence: "He (or she) is mad at me. What did I do wrong?" You may then
    respond to these imagined negative reactions by withdrawal or counterattack. This self-defeating behavior pattern
    may
    act as a self-fulfilling prophecy and set up a negative interaction in a relationship when none exists in the first
    place. THE FORTUNE TELLER ERROR: It's as if you had a crystal ball that foretold only misery for you. You imagine
    that
    something bad is about to happen, and you take this prediction as a fact even though it is unrealistic. A
    high-school
    librarian repeatedly told herself during anxiety attacks, "I'm going to pass out or go crazy." These predictions
    were
    unrealistic because she had never once passed out (or gone crazy!) in her entire life. Nor did she have any serious
    symptoms to suggest impending insanity. During a therapy session an acutely depressed physician explained to me why
    he
    was giving up his practice: "I realize I'll be depressed forever. My misery will go on and on, and I'm absolutely
    convinced that this or any treatment will be doomed to failure." This negative prediction about his prognosis caused
    him
    to feel hopeless. His symptomatic improvement soon after initiating therapy indicated just how off-base his fortune
    telling had been. Do you ever find yourself jumping to conclusions like these? Suppose you telephone a friend who
    fails
    to return your call after a reasonable time. You then feel depressed when you tell yourself that your friend
    probably
    got the message but wasn't interested enough to call you back. Your distorton?—mind reading. You then feel bitter,
    and
    decide not to call back and check this out because you say to yourself, "He'll think I'm being obnoxious if I call
    him
    back again. I'll only make a fool of myself." Because of these negative predictions (the fortune teller error), you
    avoid your friend and feel put down. Three weeks later you learn that your friend never got your message. All that
    stewing, it turns out, was just a lot of self-imposed hokum. Another painful product of your mental magic!

</p>
<p>6.​Magnification and Minimization. Another thinking trap you might fall into is called "magnification" and
    "minimization," but I like to think of it as the "binocular trick" because you are either blowing things up out of
    proportion or shrinking them. Magnification commonly occurs when you look at your own errors, fears, or
    imperfections
    and exaggerate their importance: "My God—I made a mistake. How terrible! How awful! The word will spread like
    wildfire!
    My reputation is ruined!" You're looking at your faults through the end of the binoculars that makes them appear
    gigantic and grotesque. This has also been called "catastrophizing" because you turn commonplace negative events
    into
    nightmarish monsters. When you think about your strengths, you may do the opposite—look through the wrong end of the
    binoculars so that things look small and unimportant. If you magnify your imperfections and minimize your good
    points,
    you're guaranteed to feel inferior. But the problem isn't you—it's the crazy lenses you're wearing!
</p>
<p> 7.​Emotional
    Reasoning. You take your emotions as evidence for the truth. Your logic: "I feel like a dud, therefore I am a dud."
    This
    kind of reasoning is misleading because your feelings reflect your thoughts and beliefs. If they are distorted—as is
    quite often the case—your emotions will have no validity. Examples of emotional reasoning include "I feel guilty.
    Therefore, I must have done something bad"; "I feel overwhelmed and hopeless. Therefore, my problems must be
    impossible
    to solve"; "I feel inadequate. Therefore, I must be a worthless person"; "I'm not in the mood to do anything.
    Therefore,
    I might as well just lie in bed"; or "I'm mad at you. This proves that you've been acting rotten and trying to take
    advantage of me." Emotional reasoning plays a role in nearly all your depressions. Because things feel so negative
    to
    you, you assume they truly are. It doesn't occur to you to challenge the validity of the perceptions that create
    your
    feelings. One usual side effect of emotional reasoning is procrastination. You avoid cleaning up your desk because
    you
    tell yourself, "I feel so lousy when I think about that messy desk, cleaning it will be impossible." Six months
    later
    you finally give yourself a little push and do it. It turns out to be quite gratifying and not so tough at all. You
    were
    fooling yourself all along because you are in the habit of letting your negative feelings guide the way you act.

</p>
<p>
    8.​Should Statements. You try to motivate yourself by saying, "I should do this" or "I must do that." These
    statements
    cause you to feel pressured and resentful. Paradoxically, you end up feeling apathetic and unmotivated. Albert Ellis
    calls this "musturbation." I call it the "shouldy" approach to life. When you direct should statements toward
    others,
    you will usually feel frustrated. When an emergency caused me to be five minutes late for the first therapy session,
    the
    new patient thought, "He shouldn't be so self-centered and thoughtless. He ought to be prompt." This thought caused
    her
    to feel sour and resentful. Should statements generate a lot of unnecessary emotional turmoil in your daily life.
    When
    the reality of your own behavior falls short of your standards, your shoulds and shouldn'ts create self-loathing,
    shame,
    and guilt. When the all-too-human performance of other people falls short of your expectations, as will inevitably
    happen from time to time, you'll feel bitter and self-righteous. You'll either have to change your expectations to
    approximate reality or always feel let down by human behavior. If you recognize this bad should habit in yourself, I
    have outlined many effective "should and shouldn't" removal methods in later chapters on guilt and anger.

</p>
<p>
    9.​Labeling
    and Mislabeling. Personal labeling means creating a completely negative self-image based on your errors. It is an
    extreme form of overgeneralization. The philosophy behind it is "The measure of a man is the mistakes he makes."
    There
    is a good chance you are involved in a personal labeling whenever you describe your mistakes with sentences
    beginning
    with "I'm a . . ." For example, when you miss your putt on the eighteenth hole, you might say, "I'm a born loser"
    instead of "I goofed up on my putt." Similarly, when the stock you invested in goes down instead of up, you might
    think,
    "I'm a failure" instead of "I made a mistake." Labeling yourself is not only self-defeating, it is irrational. Your
    self
    cannot be equated with any one thing you do. Your life is a complex and ever-changing flow of thoughts, emotions,
    and
    actions. To put it another way, you are more like a river than a statue. Stop trying to define yourself with
    negative
    labels—they are overly simplistic and wrong. Would you think of yourself exclusively as an "eater" just because you
    eat,
    or a "breather" just because you breathe? This is nonsense, but such nonsense becomes painful when you label
    yourself
    out of a sense of your own inadequacies. When you label other people, you will invariably generate hostility. A
    common
    example is the boss who sees his occasionally irritable secretary as "an uncooperative bitch." Because of this
    label, he
    resents her and jumps at every chance to criticize her. She, in turn, labels him an "insensitive chauvinist" and
    complains about him at every opportunity. So, around and around they go at each other's throats, focusing on every
    weakness or imperfection as proof of the other's worthlessness. Mislabeling involves describing an event with words
    that
    are inaccurate and emotionally heavily loaded. For example, a woman on a diet ate a dish of ice cream and thought,
    "How
    disgusting and repulsive of me. I'm a pig." These thoughts made her so upset she ate the whole quart of ice cream!

</p>
<p>
    10.​Personalization. This distortion is the mother of guilt! You assume responsibility for a negative event when
    there
    is no basis for doing so. You arbitrarily conclude that what happened was your fault or reflects your inadequacy,
    even
    when you were not responsible for it. For example, when a patient didn't do a self-help assignment I had suggested,
    I
    felt guilty because of my thought, "I must be a lousy therapist. It's my fault that she isn't working harder to help
    herself. It's my responsibility to make sure she gets well." When a mother saw her child's report card, there was a
    note
    from the teacher indicating the child was not working well. She immediately decided, "I must be a bad mother. This
    shows
    how I've failed." Personalization causes you to feel crippling guilt. You suffer from a paralyzing and burdensome
    sense
    of responsibility that forces you to carry the whole world on your shoulders. You have confused influence with
    control
    over others. In your role as a teacher, counselor, parent, physician, salesman, executive, you will certainly
    influence
    the people you interact with, but no one could reasonably expect you to control them. What the other person does is
    ultimately his or her responsibility, not yours.

    Burns M.D., David D.. Feeling Good: The New Mood Therapy (pp. 32-41). Harper. Kindle Edition.

    {% endblock content %}